<a href="https://colab.research.google.com/github/leah108/bioinfomatics/blob/main/GBD_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##1. 파이썬 기본 자료형

In [4]:
# 데이터 형태를 확인해 주는 함수 : type()
# 화면에 출력해주는 함수 : print()

print(type(100))
print(type(100.0))
print(type('파이썬'))

<class 'int'>
<class 'float'>
<class 'str'>

In [6]:
# 변수에 값을 지정해서 사용하낟.

a = 100
b = 50
c = '파이썬'

print(a + b)
print(c)

150
파이썬

In [10]:
사과 = '수박'

print(사과)

수박

In [12]:
a = 3.14
b = 314

print(int(a))
print(float(b))

3
314.0

In [13]:
# 숫자형 나눗셈의 결과 자료형은 무조건 float 형이다.

print(10 / 3)
print(10 / 2)
print(type(10/3))
print(type(10/2))

3.3333333333333335
5.0
<class 'float'>
<class 'float'>

In [14]:
# 정수끼리 연산은 정수, 실수가 포함되면 실수의 결과 자료형을 갖는다.

print(10 * 2)
print(type(10*2))
print(10.0 * 2)
print(type(10.0*2))

20
<class 'int'>
20.0
<class 'float'>

2. 문자열형

In [22]:
# + : 문자열을 붙여서 표현한다.
print('오늘은' + '파이썬 첫 날!')
print('오늘은', '파이썬 첫 날!')

오늘은파이썬 첫 날!
오늘은 파이썬 첫 날!

In [25]:
# * : 문자열을 반복한다.
print('반짝' * 5)
print('-' * 50)

반짝반짝반짝반짝반짝
--------------------------------------------------

## Bool 타입

In [29]:
# command + / : 드래그하고 누르면 전부 주석처리 됨,,,wow
# a = True
# b = False
# print(a,b)

a = 100
b = 200
print(a > b)

False

## 파이썬 기본 입출력

In [35]:
# 파이썬으로 사칙연산 하기 프로그램
a = input('키보드로 입력하세요: ')
a = int(a)
print('a의 값은: ', a, type(a))

키보드로 입력하세요: 100
a의 값은:  100 <class 'int'>

In [36]:
a = int(input('키보드로 입력하세요: '))

키보드로 입력하세요: 100

In [42]:
num1 = int(input('첫 번째 숫자: '))
num2 = int(input('두 번째 숫자: '))
print('-' * 30)
print('덧셈 : %d + %d = %d' % (num1, num2, num1 + num2))
print('뺄셈 : %d - %d = %d' % (num1, num2, num1 - num2))
print('곱셈 : %d * %d = %d' % (num1, num2, num1 * num2))
print('나눗셈 : %d / %d = %d' % (num1, num2, num1 / num2))

첫 번째 숫자: 200
두 번째 숫자: 30
------------------------------
덧셈: 200 + 30 = 230

In [46]:
# 두 수를 입력 받아 덧셈, 뺄셈, 곱셈, 몫, 나머지를 출력하는 프로그램을 작성하세요.

num1 = int(input('첫 번째 숫자: '))
num2 = int(input('두 번째 숫자: '))
print('-' * 30)
print(f'덧셈: {num1} + {num2} = {num1 + num2}')
print(f'뺄셈: {num1} - {num2:>3} = {num1 - num2}')   #빈칸 넣어 3자리
print(f'곱셈: {num1} * {num2:0>3} = {num1 * num2}')  #빈칸에 0 넣어 3자리
print(f'나눗셈: {num1} / {num2} = {num1/ num2}')

첫 번째 숫자: 200
두 번째 숫자: 30
------------------------------
덧셈: 200 + 30 = 230
뺄셈: 200 -  30 = 170
곱셈: 200 * 030 = 6000
나눗셈: 200 / 30 = 6.666666666666667

In [50]:
# 속도와 거리를 입력 받아 시간을 계산하여 출력하는 프로그램을 만드세요.

distance = float(input('거리를 입력해주세요: '))
velocity = float(input('속도를 입력해주세요: '))
print('거리= ', distance)
print('속도= ', velocity)
print(f'시간(Time) = {distance} / {velocity} = {distance / velocity}')

거리를 입력해주세요: 200
속도를 입력해주세요: 50
속도=  50.0
거리=  200.0
시간(Time) = 200.0 / 50.0 = 4.0

In [51]:
# 길이와 너비를 입력 받아 면적과 둘레를 계산하여 출력하는 프로그램을 만드세요.

a = int(input('길이: '))
b = int(input('너비: '))
print(f'면적: {a} * {b} = {a*b}')
print(f'둘레: {a} * 2 + {b} * 2 = {a*2 + b*2}')

길이: 100
너비: 20
면적: 100 * 20 = 2000
둘레: 100 * 2 + 20 * 2 = 240

In [55]:
# 아래와 같이 정수 a을 입력 받아, a + aa + aaa의 결과 값을 구하는 프로그램을 작성하세요.

a = int(input('정수를 입력하세요: '))
b = 10*a + a
c = 100*a + 10*a + a

print(f'{a} + {b} + {c} = {a + b + c}')

정수를 입력하세요: 7
7 + 77 + 777 = 861

In [56]:
a = input('정수를 입력하세요: ')
b = int(a + a)
c = int(a + a + a)

print(f'{a} + {b} + {c} = {int(a) + b + c}')

정수를 입력하세요: 7
7 + 77 + 777 = 861

In [57]:
# eval() : 문자열을 숫자처럼 계산해준다.

eval('3 + 4')

7

In [60]:
a = input('정수를 입력하세요: ')
result = f'{a} + {a + a} + {a + a + a}'
print(f'{result} = {eval(result)}')

정수를 입력하세요: 7
7 + 77 + 777 = 861